body {
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

canvas{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 150px;
    padding-left: 250px;
}

section {
    display: flex;
    flex-direction: column;
}

