body {
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

canvas{
    border: 1px solid blue;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 200px;
    padding-left: 300px;
}

section {
    display: flex;
    flex-direction: column;
}

